@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/*Navbar styles */
.navbar {
  padding: 1%;
  display: flex;
  max-width: 100%;
  position: fixed;
}
.navbar h1 {
  color: #f1356d;
}
.navbarButton {
  padding: 1%;
  margin-left:89%;
  display: flex;
  positon: fixed;
  max-width: 100%;
}



.content {
  max-width: 95%;
  margin: 1%;
  padding: .5%;
}

.table h3 {
  display:inline;
  padding: 10px 180px;
  width:50%;
}


/* Entry-view */
.entry-view {
  padding: 10px 16px;
  display:flex;
}
.entry-view:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  outline-style: solid;
}
.entry-view h2 {
  font-size: 20px;
  color: #f1356d;
  width:50%;
}

/* Entry-view */